<h4>
  {{ p.name }}
  {{ p.isPapertrade ? '(Paper)': '' }}
</h4>
<div>
  Initial Cash: {{ p.initialCash | number:'1.2-2' }} THB
</div>
<div [class.text-danger]="p.balance < 0"
     [class.text-success]="p.balance > 0"
     >
  Balance: {{ p.balance | number:'1.2-2' }} THB
</div>
<hr />

<button class="btn btn-outline-success" (click)="addAsset()">
  Add
</button>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Price</th>
      <th>Volume</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of p.assets">
      <td> <input class="form-control" [(ngModel)]="a.symbol" /> </td>
      <td> <input class="form-control" [(ngModel)]="a.fullName" /> </td>
      <td> <input type="number" min="0" class="form-control" [(ngModel)]="a.price" /> </td>
      <td> <input type="number" min="0" class="form-control" [(ngModel)]="a.volume" /> </td>
      <td>
        <input class="form-control border-0 bg-white text-right" disabled="true" [(ngModel)]="a.total" />
        <!-- {{ a.total | number:'1.2-2' }} -->
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="removeAsset(a)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="bg-light text-dark">
      <td colspan="4"></td>
      <td class="text-right">{{ p.netTotal | number:'1.2-2' }} </td>
      <td></td>
    </tr>
  </tfoot>
</table>
